@import 'colors';

html, body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  background: $color0;
  height: 100vh;
  width: 100vw;
}

main {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-height: 600px) {
  main {
    left: 40%;
    transform: translate(-40%, -60%);
  }
}

h1 {
  color: $color10;
  font-family: "Terminus";
  font-size: 26pt;
  letter-spacing: 1px;
  padding-left: 4px;
}

p {
  color: $color7;
  font-family: "GohuFont";
  font-size: 7pt;
}

ul {
  display: block;
  margin: 0 auto;
}

li {
  display: inline-block;
  font-family: "GohuFont";
  font-size: 7pt;
  line-height: 1.5;
  list-style: none;
  margin: 0 5px;
}

.subh {
  color: $color1;
  font-weight: bold;
  margin-top: 5px;
  text-decoration: none;
  transition: .2s;
}

.subh:hover {
  color: $color9;
}

a {
  color: $color6;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: $color14;
}

.subh a {
  color: $color1;
}

.subh a:hover {
  color:$color9;
}

.searchfield {
  background: $color8;
  color: $color15;
  border: none;
  display: block;
  font-family: "GohuFont";
  font-size: 7pt;
  height: 25px;
  margin: 10px auto;
  padding: 5px 0 5px 10px;
  transition: .2s;
  width: 300px;
}
